.THIS .isActivityLoading {
   position: relative !important; 
}
.THIS .spinner{
    position: absolute;
    top: 30px;
  	left: 20em;
}

.THIS .first{
    position: relative;
}
.THIS .buttonContainer{
    margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
.THIS span.bold{
    font-weight:bold;
} 
.THIS div.first{
    height:100px;
}